// Footer
.footer {
    background-color: $turquesa;
    display: flex;
    flex-direction: column;
    margin-top: 260vh;
    width: 99vw;
    padding: 1rem 0rem 2rem 0rem;

    div {
        margin: 1rem 0rem;
        width: 99vw;
        text-align: center;
        border-bottom: solid $blanco 1px;

        h3 {
            width: 99vw;
            font-weight: 600;
            letter-spacing: 0.1rem;
            color: $blanco;
        }

        ul {
            list-style: none;
            color: $blanco;
            padding-top: 0.5rem;
            display: none;

            li {
                padding-bottom: 1rem;
            }
        }

        p {
            color: $blanco;
            margin-top: 1rem;
            display: none;
        }

        iframe {
            border-radius: 0.2rem;
            margin-top: 0.5rem;
            display: none;
        }

        &:hover ul {
            display: block;
        }

        &:hover p {
            display: block;
        }
    }

    .container__footer--active {
        margin: 1rem 0rem;
        text-align: center;
        border-bottom: solid $blanco 1px;

        form {
            display: none;

            .input__suscrib {
                margin: 0.5rem 0rem 0.5rem 3rem;
                width: 50%;
                background-color: $turquesa;
                color: $blanco;
                border: none;
                border-bottom: solid 1.5px $azul-oscuro;
                outline: none;
                font-family: 'Poppins', sans-serif;

                ::placeholder {
                    color: $blanco;
                }
            }

            .input__enviar {
                background-color: $azul-oscuro;
                color: $blanco;
                border-radius: 0.3rem;
                font-weight: 200;
                margin: 1rem;
                border: $azul-oscuro 2px;
                width: 5rem;
                height: 2rem;
                font-family: 'Poppins', sans-serif;

                &:hover {
                    background-color: $azul
                }
            }
        }

        .fab {
            color: $blanco;
            font-size: 1.5rem;
            margin: 0.5rem;
            display: none;
        }

        &:hover form {
            display: block;
        }
    }
}

//Aqui van las medias queries
// Medias queries de Tablet
@media (min-width: 768px) {
    .footer {
        margin-top: 220vh;
    }
}

//Medias queries desktop
@media(min-width: 1440px) {
    .footer {
        width: 100vw;
        background-color: $turquesa;
        display: flex;
        flex-direction: row;
        margin-top: 350vh;
        align-items: stretch;
        justify-content: space-between;

        div {
            margin: 2rem;
            padding: 0.5rem 4rem;
            border-bottom: none;
            text-align: left;

            h3 {
                width: 60%;
                font-weight: 600;
                margin: 0.5rem;
                letter-spacing: 0.1rem;
            }

            ul {
                margin: 0.5rem;
                display: block;
            }

            p {
                margin-left: 0.5rem;
                display: block;
            }

            iframe {
                margin: 1.5rem 0.5rem;
                display: block;
            }
        }

        .container__footer--active {
            margin: 2rem;
            padding: 0.5rem 4rem 0.5rem 8rem;
            border-bottom: none;
            text-align: left;

            form {
                display: flex;

                .input__suscrib {
                    margin: 0.5rem;
                    width: 11vw;
                }
                .input__enviar{
                    margin: 1rem 2rem;
                }
            }
            .fab{
                font-size: 2rem;
            }
        }
    }
}